*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    flex-direction: column;
    background-color: rgba(247, 142, 159, 0.288);
    display: flex;
    justify-content: center;
}
.drink_header{
    border: 1px solid black;
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 122, 144);
}

.drink_header div{
    border: 1px solid black;
    height: 30px;
    width: 30px;
}
.drink_main{
    display: flex;
    width: 100%;
    min-height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sec_img{
    background-color: rgb(255, 122, 144);
    display: flex;
    width: 100%;
    height: 400px;
    border-radius: 0px 0px 35px 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img_drink{
    border: 1px solid white;
    height: 80%;
    width: 300px;
    margin: 2px 0px;
}

.drink_main h1{
    width: 300px;
}


.quantidade{
    height: 50px;
    width: 150px;
    align-items: center;
    display: flex;
}
.price{
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price button{
    width: 70px;
    height: 30px;
    margin: 0px 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    background-color: rgb(255, 122, 144);
    color: white;
}

.drink_main .about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
}

.drink_main h2{
    text-align: start;
    width: 300px;
}

.drink_main p{
    width: 300px;
    text-align: start;
}

.drink_footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.drink_footer button{
    width: 200px;
    height: 40px;
    background-color: rgb(255, 122, 144);
    color: white;
    font-weight: bold;
    font-size: 17px;
    border: none;
    border-radius: 10px;
}









