*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgba(247, 142, 159, 0.288);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrinho{
    cursor: pointer;
}