.index_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.section_main{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.726)
}
video{
    position: absolute;
    width: 100%;
    height: inherit;
    z-index: -1;
    top: 0px;
}
.drink{
    width: 90%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;

}
.batidos{
    border: 1px solid white;
    width: 100%;
    height: 90%;
    background-color:rgba(255, 255, 255, 0.521);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.batidos>div{
    width: 300px;
    height: 380px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options{
    border: 1px solid black;
    height: 50px;
    width: 200px;
    align-self: center;
    justify-self:flex-start;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.img_batido img{
    width: 100%;
    height: 100%;
}
.options span{
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 20px;
    width: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.options img{
    height: 50px;
    width: 40px;
    border: 1px solid black;
}
.description_batido{
    display: flex;
    height: 150px;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    align-items: center;
}
/* .description_batido h3{
    color: rgb(155, 10, 34);
    text-shadow: 1px 1px 1px black;
}
.description_batido p{
    width: 100%;
    color: rgb(173, 15, 76);
    text-shadow: 1px 1px 1px black;
} */
.description{
    min-height: 150px;
    height: 90%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description h2{
    width: 100%;

}
.description p{
    width: 250px;
    word-wrap: break-word;
    margin: 20px 0px;

}

.description div{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description div button{
    width: 70px;
    height: 30px;
    margin: 0px 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
}

.drink_img{
    height: 150px;
    width: 90px;
    border-radius: 10px;
    background-color: pink;
    margin: 0px 5px;
}
.drink_img img{
    width: 100%;
    height: 100%;
}





