.index_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: center;
}
.section_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.726)
}
video{
    position: absolute;
    width: 100%;
    height: inherit;
    z-index: -1;
    top: 0px;
}
.drink{
    width: 90%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;

}
.batidos{
    width: 100%;
    height: 90%;
    background-color:rgba(75, 74, 74, 0.521);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    margin: auto;
}
.batidos>div{
    width: 300px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options{
    min-height: 50px;
    min-width: 200px;
    align-self: center;
    justify-self:flex-start;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.img_batido img{
    min-width: 200px;

    width: 100%;
    height: 100%;
    border-radius: 2%;
    border: 1px solid black;
}
.options span{
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 20px;
    width: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.options img{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 2px 3px;
    border-radius: 5px;
}
.description_batido{
    display: flex;
    height: 300px;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    align-items: center;
}
.description_batido h3{
    text-shadow: 1px 1px 1px black;
}
.description_batido p{
    width: 100%;
}
.bts_batidos{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.bts_batidos button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin: 0px 5px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
.description{
    min-height: 150px;
    height: 90%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.description h2{
    width: 100%;

}
.description p{
    width: 250px;
    word-wrap: break-word;
    margin: 20px 0px;

}

.description div{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description div button{
    width: 70px;
    height: 30px;
    margin: 0px 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
}

.drink_img{
    height: 150px;
    width: 90px;
    border-radius: 10px;
    /* background-color: pink; */
    margin: 0px 5px;
}
.drink_img img{
    width: 100%;
    height: 100%;
}
.carrinho_tela{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}
.carrinho_tela2{
    height: 90%;
    width: 100%;
    position: relative;
    background-color: white;
    top: 0px;
    right: 0px;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}
.mostra{
    display: flex !important;
    right: 0% !important;
}

.itens{
    min-height: 250px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 0px;
}

.item_img{
    height: 180px;
    width: 160px;
}
.item_img img{
    width: 100%;
    height: 100%;
}
.itens >*{
    text-align: center;
}

.bts_carrinhos{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.itens button{
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    outline: 1px solid black;
    margin: 5px;
    cursor: pointer;
}


.metodos_de_pagamentos{
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.metodos_de_pagamentos > div{
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.metodos_de_pagamentos div h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.metodos_de_pagamentos div:first-of-type h3 button{
    text-decoration: none;
    color: white;
    width: 100px;
    display: flex;
    background-color: green;
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    align-items: center;
    margin-left: 5px;    
    border: none;
}

.metodos_de_pagamentos div:last-of-type h3 button{
    text-decoration: none;
    color: white;
    width: 100px;
    display: flex;
    background-color: rgb(161, 139, 12);
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    align-items: center;
    margin-left: 5px; 
    border: none;
}


